<!DOCTYPE html>
<html>
    <!-- Footer -->
    <footer id="footer">

        <!-- Social Media Icons -->
        <ul class="icons">
            <li><a href="#" class="style2 icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="style2 icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="style2 icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="style2 icon fa-500px"><span class="label">500px</span></a></li>
            <li><a href="#" class="style2 icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>

        <!-- Links to other pages -->
        <ul class="bottom-navigation">
            <li><a href="index.html" class="bottom-navigation-icon"><span class="bottom-navigation-label">Home</span></a></li>
            <li><a href="privacypolicy.html" class="bottom-navigation-icon"><span class="bottom-navigation-label">Privacy Policy</span></a></li>
            <li><a href="press.html" class="bottom-navigation-icon"><span class="bottom-navigation-label">Press</span></a></li>
            <li id="disclaimer-button"><a class="bottom-navigation-icon"><span class="bottom-navigation-label">Disclaimer</span></a></li>
        </ul>

        <!-- Company Footer -->
        <p>© <a href="https://cronyxgames.com">Cronyx LLC.</a> All rights reserved.</p>
    </footer>

                    <!-- Modals -->
    <div id="disclaimer-modal" class="modal">
        <div class="modal-content">
            <span class="close">×</span>
            <h1>Disclaimer</h1>
            <p>Unless otherwise indicated, this website is proprietary content of Cronyx LLC, a New Mexico limited liability company. All source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on this website and the trademarks, service marks, and logos contained therein are owned and controlled by us or licensed to us, and are protected by copyright and trademark laws and various other intellectual property rights and unfair competition laws of the United States, foreign jurisdictions, and internation conventions.<br/><br/>
            Google Play and the Google Play logo are trademarks of Google LLC. Apple®, the Apple logo, and the App Store® are trademarks of Apple Inc. Steam and the Steam logo are trademarks and/or registered trademarks of Valve Corporation in the U.S. and/or other countries.</p>
        </div>
    </div>
</html>