@charset "UTF-8";

/* Text blurbs with images */

.image-blurb {
	width: 100%;
	vertical-align: middle;
	margin: 1em 0;
}

.image-blurb-image {
	padding: 0 2em 0 0 ;
	float: left;
	vertical-align: middle;
}

.image-blurb-image img {
	max-height: 20em;
	height: 100%;
	width: auto;
	border-radius: 0.5em;
		
}

.image-blurb-text {
	text-align: left;
}

@media screen and (max-width: 800px) {

	.image-blurb-image {
		padding: 0;
		float: none;
		vertical-align: middle;
		text-align: center;
		margin: 0 0 1em 0;
	}

	.image-blurb-image img {
		margin: 0 0 0em 0;	
	}

	.image-blurb-text {
		text-align: center;
		width: 100%;
	}

}

